@charset "UTF-8";
/* 基础变量 */

// 主体背景色
$bg: #1F5130;
$bg-deep: #1C483C;

// 按钮背景色
$btn-bg: #f8cf75;

// 字体
$font: 32px;
$font-small: 30px;
$font-smaller: 24px;
$font-big: 36px;

// 字体颜色
$color: #e7fcf3;
$color-light: #fefefe;
$color-btn: #8d4423;
$color-number: #f1de68;

// border-color
$border: #5B9667;
